*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
FlatRedBall_FNA_Test/FlatRedBall_FNA_Test/bin/
FlatRedBall_FNA_Test/bin/
FlatRedBall_FNA_Test/FlatRedBall_FNA_Test/obj/
FlatRedBall_FNA_Test/obj/
FlatRedBall_FNA_Test/Content/obj/
!FlatRedBall_FNA_Test/x64
!FlatRedBall_FNA_Test/x86
!FlatRedBall_FNA_Test/Libraries
